.personal-details {
  padding-left: 20px;
  color: #374151;
  font-size: 1.275rem;
  margin-bottom: 1rem;
}
.proceeds-label {
  padding-left: 20px;
}

@media (min-width: 768px) {
  .personal-container {
    display: flex;
    justify-content: space-between;
  }

  .ship-container {
    display: flex;
  }

  .shippin {
    display: flex;
    justify-content: space-around;
  }
}

.shippin {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.shippin-cost1 {
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  background: #fff;
  border: 1px solid #e6dfdf;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  margin: 10px;
}

.shippin-cost2 {
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  background: #fff;
  border: 1px solid #e6dfdf;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  margin: 10px;
}

.car-shippin {
  margin: 8px;
}

.check-detailee {
  display: flex;
  justify-content: space-between;
}

.snpm install react-paystack --saveec66 {
  margin-top: 150px;
}

/* form styling */
/* .form-container {
   width:100%;
    margin: 90px auto;
    padding: 20px;
   
  } */

.major-proceed {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 30px;
  padding: 20px;
}
.major-proceed input {
  padding: 10px;
  border: 1px solid #e6dfdf;
  border-radius: 5px;
  font-size: 0.95rem;
  outline: none;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}
.major-proceed label {
  color: #6b7280;
  text-transform: capitalize;
}

.btn-rightarrow {
  margin-left: 3px;
  width: 40px;
}
.btn-leftarrow {
  transform: rotate(180deg);
  margin-left: 3px;
  width: 40px;
}
@media (min-width: 768px) {
  .major-proceed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.submitBtn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.submitBtn .btn {
  background: #10b981;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 0.75rem;
  text-transform: capitalize;
  margin: 30px;
}

.submitBtn .shoppiin {
  text-decoration: none;
  align-items: center;
  background: #eef2ff;
  border: 1px solid #e0e7ff;
  border-radius: 5px;
  color: #374151 !important;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  text-transform: capitalize;
  margin: 10px 30px;
}
