.sec1{
  /* found out that grid does not work with max-width */
  margin-top:90px;
  justify-content:center;
  max-width: 1350px;
  max-height: 500px;
  border-radius: 5px;
  padding: 0px 0.9rem;
 
}



.pic1{
  width:100%;
  height:210px;
  border-radius:12px;
  margin-bottom: 10px;
}
.pic1Sub{
  position: absolute;
  top: 0;
  left:25%;
}
.natural-btn{
  display: flex;
  justify-content: center;
}
.pic2{
  width:100%;
  height:210px;
  border-radius:12px;
  margin-bottom: 10px;
}
.pic3{
  width:100%;
  height:210px;
  border-radius:12px;
  margin-bottom: 10px;
}


.pic1,.pic2,.pic3{

  min-height:228px;
}

@media(min-width:768px){
  .sec1{
    margin-top:99px; 
    display:grid;
     grid-template-columns: repeat(3,1fr);
     
     grid-gap:1rem;
     justify-content:center;
    
     
  
  }
 
}
@media(min-width:1000px){
  .sec1{
    margin-top:160px; 
    display:grid;
     grid-template-columns: repeat(3,1fr);
     
     grid-gap:1rem;
     justify-content:center;
  
  
  }
 
}