/* CategorySwipper.css

/* Style the Swiper navigation arrows */
.swiper-button-prev,
.swiper-button-next {
  color: rgb(255, 255, 255);
  background: rgb(52, 211, 153);
  border-radius: 10px;
  padding: 1rem 1.1rem;
}

/* Adjust arrow position */
.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  font-size: 20px;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  font-size: 20px;
}
.swip-img {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
  text-align: center !important;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin-left: 9px;
  position: absolute;
  top: 0;
  left: 28%;
}
.swip-img img {
  width: 23px;
}

@media (max-width: 374px) {
  .swiper-slide-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swip-img{
    left: 40px;
  }
}
