
.top {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #20c997;
  z-index: 1110;
}
.main-sidebar{
  transition: opacity .2s ease-in-out;
}




.sub-nav {
  margin-top: 16px;
}

nav .container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #20c997;
  height: 60px;
}
.svg {
  color: #fff;

  font-size: 30px;
}
.flex-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
}
.top-3 {
  width: 100%;
}

.flex-1 {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #20c997;
  display: flex;
}
.flex-2 {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  background-color: #20c997;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-nav .logo {
  display: none;
}
.Bell {
  display: none;
}

.sub-nav {
  display: none;
}
.user-email {
  margin-top: -2rem;
  font-size: 1.2rem;
  color: #ffff;
}
.user-email h1 {
  color: #ffff;
}
@media (min-width: 995px) {
  .top {
    top: 0;
    height: 78px;
  }
  .main-sidebar{
    display:none;
  }
  .container-nav .logo {
    display: block;
    margin-left: 6px;
    position: relative;
    width: 97px;
  }

  .Bell {
    display: block;
  }

  .toggleBtn {
    display: none;
  }

  nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #20c997;
    height: 60px;
  }

  .flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 12%;
    margin-top: 6px;
    width: 90px;
    margin-left: 10px;
    position: relative;
  }
  .flex-2 {
    flex-basis: 59%;
    margin-top: 6px;
  }
  .flex-2 {
    width: auto;
    position: relative;
  }

  .top-3 {
    width: 23%;
  }
  .flex-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 25%;
    margin-top: 30px;
  }
  .home-logo {
    display: none;
  }

  .sub-nav {
    display: block;
  }
}
@media (min-width:995px){
      
  .side-bar {
    display:none;
  }
}

   /* cart side-bar */


   
.backdrop {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
 
}

/* .back-drop {
  background: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 2s ease;
  transform: translate(-100%);
  width: 100%;
  z-index: 155555;
} */

.show_side_bar {
  transform: translateX(0);
}

/* .top{
        position: fixed;
        width:100%;
        z-index:1330;
      }
      nav .container{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        flex-wrap: wrap;
        background-color:#20c997;
        height:60px;
        }
        .top-3{
        
          width:25%;
         
        }
      .flex-3{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        flex-wrap: wrap;
        flex-basis:25%;
        margin-top: 10px;
      }
      .flex-1{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        flex-wrap: wrap;
        flex-basis:7%;
        margin-top: 10px;
        width:90px;
        margin-left:10px;
      }
      .flex-2{
        flex-basis:50%;
        margin-top: 10px;
        margin-left:30px;
      }
        .svg{
          color:#fff;
         
          font-size:30px;
        } */
