.MainDashboard {
  position: relative;
  margin-top: 90px;
}
.MainOutletContainer {
  display: block;
}
.DashboardOutlet {
  background: #f3f4f6;
  font-family: Open Sans, sans-serif;
  padding: 10px;
  padding-bottom: 30px;
  width: 96%;
  margin: 0 auto;
}

.Welcome {
  background-color: rgb(238, 242, 255);
  margin: auto;
  padding: 0.1rem;
}
.Welcome .WelcomeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.EmailCircle {
  font-size: 3rem;
}
.FirstEmail {
  position: relative;
  background-color: #663399;
  display: inline-block;
  margin: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 0.8em;
  text-align: center;
  border-radius: 50%;
  border: 0.05em solid #663399;
  padding: 2rem;
  padding-top: 0.5rem;
}

.WelcomeText {
  margin-left: 2.6rem;
  margin-top: -1rem;
}
.WelcomeName {
  font-size: 1.5rem;
}
.WelcomeName span {
  color: #059669;
}
.email {
  margin-top: -1rem;
}
.linkStyle {
  text-decoration: none;
}

.samba {
  background: #fff;
  width: 95%;
  padding: 30px 20px;
  margin: auto;
  margin-top: 19px;
}

.FirstEmail {
  position: relative;
  background-color: #663399;
  display: inline-block;
  margin: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  line-height: 0.8em;
  text-align: center;
  border-radius: 50%;
  border: 0.05em solid #663399;
  padding: 2rem;
  padding-top: 0.3rem;
}

.EmailCircle {
  display: none;
}
.OutletProduct {
  background: #fff;
  width: 95%;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
}
.CircleImg {
  max-width: 100px;
  border-radius: 50%;
}

.DashboardList {
  list-style: none;
  padding: 10px;
}

/* .dashboard-list svg{
  vertical-align:baseline; 
} */

.DashboardList span {
  margin-left: 10px;
  font-size: 0.9rem;
}

@media (min-width: 995px) {
  .MainDashboard {
    position: relative;
    margin-top: 90px;
  }

  .MainOutletContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }
  .ContainerDashboard {
    flex-basis: 35%;
    position: sticky;
    top: 120px;
  }
  .OutletProduct {
    flex-basis: 63%;
    max-width: 100%;
  }
  .MainDashboard {
    position: relative;
    margin-top: 150px;
  }
}
@media (min-width: 900px) {
  .EmailCircle {
    display: block;
  }
}
