

.main-dashboard {
  position: relative;
  margin-top: 90px;
  
}
.main-outletContainer {
  display: block;
}
.dashboard-outlet {
  background: #f3f4f6;
  font-family: Open Sans, sans-serif;
  padding: 10px;
  padding-bottom: 30px;
  width: 96%;
  margin: 0 auto;
}

.welcome {
  background-color: rgb(238, 242, 255);
  margin: auto;
  padding: 0.1rem;
}
.welcome .welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.email-circle {
  font-size: 3rem;
}
.first-email {
  position: relative;
  background-color: #663399;
  display: inline-block;
  margin: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 0.8em;
  text-align: center;
  border-radius: 50%;
  border: 0.05em solid #663399;
  padding: 2rem;
  padding-top: 0.5rem;
}

.welcome-text {
  margin-left: 2.6rem;
  margin-top: -1rem;
}
.welcome-name {
  font-size: 1.5rem;
}
.welcome-name span {
  color: #059669;
}
.email {
  margin-top: -1rem;
}
.link-style {
  text-decoration: none;
}

.samba {
  background: #fff;
  width: 95%;
  padding: 30px 20px;
  margin: auto;
  margin-top: 19px;
}

.first-email {
  position: relative;
  background-color: #663399;
  display: inline-block;
  margin: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  line-height: 0.8em;
  text-align: center;
  border-radius: 50%;
  border: 0.05em solid #663399;
  padding: 2rem;
  padding-top: 0.3rem;
}

.email-circle {
  display: none;
}
.outlet-product {
  background: #fff;
  width: 95%;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
}
.circle-img {
  max-width: 100px;
  border-radius: 50%;
}

.dashboard-list{
  list-style:none; 
 padding: 10px;
}

/* .dashboard-list svg{
  vertical-align:baseline; 
} */


.dashboard-list span{
  margin-left: 10px;
  font-size: 0.9rem;
}

@media (min-width: 995px) {
  .main-dashboard {
    position: relative;
    margin-top: 90px;
  }

  .main-outletContainer {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    position: relative;
  }
  .container-dashboard {
    flex-basis: 35%;
    position: sticky;
    top: 120px;
  }
  .outlet-product {
    flex-basis: 63%;
    max-width: 100%;
  }
  .main-dashboard {
    position: relative;
    margin-top: 150px;
  }
}
@media (min-width: 900px) {
  .email-circle {
    display: block;
  }
}
