/* Spinner.css */

/* Spinner overlay to cover the whole screen */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Big Spinner animation */
.spinner-big {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Border color with transparency */
  border-radius: 50%;
  border-top: 4px solid; /* White border for the spinner */
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; /* Spin animation */
  position: relative;
  margin: auto;
  margin-bottom: 50px;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
