.main-modalimg {
  width: 13px;
  height: 19px;
}
/* .arrow-left {
  
} */

.arrow-down {
  transform: rotate(90deg);
}
.product-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.categor-name{
  font-size: 0.93rem;
  white-space: nowrap;
  margin-left:10px;
  color: #4e4e4e;
  text-transform: capitalize;
}
.product-modal :hover {
  color: #20c997;
}

.subopen {
  display: block;
}

.subclose {
  display: none;
}

.sub-category p {
  padding: 0 22px;
}
