.main-modalimg {
  width: 13px;
  height: 19px;
}
.arrow-left {
  margin-top: 20px;
}
.arrow-down {
  transform: rotate(90deg);
  margin-top: 19px;
}
.product-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-modal :hover {
  color: #20c997;
}

.subopen {
  display: block;
}

.subclose {
  display: none;
}

.sub-category p {
  padding: 0 22px;
}
